{% extends "base.html" %}
{% block content %}
<div class="form-container">
  <h2>設定新密碼</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.password.label }}<br>
      {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.confirm_password.label }}<br>
      {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn") }}
    </div>
  </form>
</div>
{% endblock %}